.logodesignguidelines__container {
  color: #000;
  background-color: #fff;
  padding: 50px 5px;

  .link {
    width: 90%;
    margin: 10px auto;
    display: flex;
    gap: 10px;
  }

  .wrapper {
    display: flex;
    gap: 50px;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 769px) {
      flex-direction: column;
    }

    .img__container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      img {
        /* width: 100%; */
        object-fit: cover;
      }

      div {
        display: flex;
        gap: 10px;
      }
    }
    .event__details {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h3 {
        color: #153978;
        font-size: 21px;
      }

      p {
        font-size: 17px;
        strong {
          color: #153978;
        }
      }
    }
  }
}
