.logodesignguidelines__container {
  color: #000;
  background-color: #fff;
  padding: 50px 5px;

  .link {
    width: 90%;
    margin: 10px auto;
    display: flex;
    gap: 10px;
  }

  .wrapper {
    display: flex;
    gap: 50px;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 769px) {
      flex-direction: column;
    }

    .img__container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      
      img {
        object-fit: cover;
        @media screen and (max-width:769px) {
          width: 100%; 
        }
        @media screen and (min-width:426px) {
          height: 300px;
        }
      }

      div {
        display: flex;
        gap: 10px;
      }
    }
    .event__details {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h2 {
        color: #153978;
        font-size: 24px;
      }

      h1 {
        color: #153978;
        padding-bottom: 10px;
        line-height: 1.1;
      }

      p {
        font-size: 17px;
        strong {
          color: #153978;
        }
      }

      .evaluation {
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          font-size: 17px;
        }
      }

    }
  }
}
