.quizguidelines__container {
  background-color: #fff;
  color: #000;
  .link {
    width: 90%;
    margin: 10px auto;
    display: flex;
    gap: 10px;
  }

  .wrapper {
    display: flex;
    gap: 50px;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 769px) {
      flex-direction: column;
    }
    .event_details {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        color: #153978;
        font-size: 24px;
      }

      h1 {
        color: #153978;
        padding-bottom: 10px;
        line-height: 1.1;
      }

      p {
        font-size: 17px;
        strong {
          color: #153978;
        }
      }

      .evaluation {
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          font-size: 17px;
        }
      }
    }
  }
}
