body{
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  background-image: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
}
.App{
  height: 100%;
  margin: auto;
}
.content{
  width: 70%;
  margin: auto;
  display: grid;
  place-items: center;
  place-content: center;
  background: #f2f0ff70;
  padding: 0 20px;
  color: #000;
}

.content > img {
  background-color: #fff;
}

.content .events__container .event-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  width: 350px;
}

.content .events__container {
  display: grid;
  /* grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); */
}

.content .events__container .event-card img {
  object-fit: cover;
  width: 100%;
}

.content .title {
  padding: 20px 0;
}

.content .events__container .event-card .description__container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description__container div {
  display: flex;
  gap: 10px;
}

.description__container .description {
  display: flex;
  flex-direction: column;
}

.description__container .description p {
  line-clamp: 3;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.App .links {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  gap: 10px;
}

.App .links a {
  color: #000;
  display: inline-block;
}

.App .links a::after{
  display: block;
  content: "";
  border-bottom: 1px solid #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.App .links a:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.content p{
  font-weight: 600;
  line-break: auto;
  text-align: justify;
  color: rgb(43 40 41);
}

@media screen and (max-width: 460px){
  .content{
    width: 80%;
  }
}