body{
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  background-image: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.App{
  height: 90%;
  margin: auto;
  
}
.content{
  width: 70%;
  margin: auto;
  display: grid;
  place-items: center;
  place-content: center;
  background: #f2f0ff70;
  padding: 0 20px;
}
.content p{
  font-weight: 600;
  line-break: auto;
  text-align: justify;
  color: rgb(43 40 41);
}

@media screen and (max-width: 460px){
  .content{
    width: 80%;
  }
}