body {
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
}
.App {
  height: 100%;
  margin: auto;
}
.content {
  /* width: 70%; */
  margin: auto;
  display: grid;
  place-items: center;
  place-content: center;
  color: #000;
}

.content .events__container .event-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  width: 100%;
}

/* .content .events__container { */
/* display: grid; */
/* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
/* display: flex; */
/* gap: 20px; */
/* } */

.content .img__container {
  padding: 20px 0;
}

.content .events__container .event-card  img {
  object-fit: cover;
  width: 100%;
}

.content .title {
  padding: 20px 0;
}

.content .events__container .event-card .description__container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description__container div {
  display: flex;
  gap: 10px;
}

.description__container .description {
  display: flex;
  flex-direction: column;
}

.description__container .description p {
  line-clamp: 3;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description__container h3 {
  color: #153978;
  font-size: 20px;
}

.App .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.links p i {
  font-size: 17px;
}

.App .links a {
  color: #000;
  display: inline-block;
  font-size: 17px;
  color: #144fb4;
}

.App .links a::after {
  display: block;
  content: "";
  border-bottom: 1px solid #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.App .links a:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.description .buttons .register__btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: 0.4s ease-in-out;
}

.buttons {
  display: flex;
  padding: 10px 0;
}

.buttons > * {
  flex-grow: 1;
}

.buttons .register__btn:hover {
  background-color: #000;
  color: #fff;
}

.content p {
  font-weight: 600;
  line-break: auto;
  text-align: justify;
  color: rgb(43 40 41);
}

@media screen and (max-width: 460px) {
  .content {
    width: 90%;
  }
  .events__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 426px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .content .events__container .event-card {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    display: flex;
  }
  .events__container {
    display: flex;
    gap: 20px;
  }
}
