@import "../../../variable.scss";

.container {
  color: #000;
  background-color: #fff;
  padding: 20px 0;

  .wrapper {
    width: 90%;
    margin: 0 auto;

    h2 {
      text-align: center;
      padding: 10px 0;
      color: $--header-text-color;
      font-size: $--header-text-size;
    }

    .link {
      display: flex;
      gap: 10px;
      padding: 10px 0;
    }

    .content__container {
      width: 100%;
      place-items: initial;

      @media screen and (min-width: 769px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
      }

      .img__container {
        img {
          object-fit: cover;
          width: 100%;
        }
      }
      .description__container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          strong {
            color: $--paragraph-text-color;
          }
          font-size: $--paragraph-text-size;
        }
      }
    }
  }
}
